body {
  font-family: Arial, sans-serif;
  background-color: #1DB954;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #282828;
  padding: 20px 0;
}

.header-image {
  width: 100px;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-picture {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

section {
  background-color: #282828;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border: 3px solid #1DB954;
}

section:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.social-icon {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
}
.enzo-delaforge {
  text-align: center;
}
}